@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d8a466;
  --secondary:#313862;
  --sub: #313861;
}

::selection {
  background-color: #d8a466;
  /* warna background selection */
  color: #ffffff;
  /* warna teks saat diblok */
}

/* Firefox */
::-moz-selection {
  background-color: #d8a466;
  color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fluid-open {
  0% {
    clip-path: circle(0% at 100% 0%);
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) scale(1.02);
  }
  100% {
    clip-path: circle(150% at 100% 0%);
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fluid-close {
  0% {
    clip-path: circle(150% at 100% 0%);
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(0.98);
  }
  100% {
    clip-path: circle(0% at 100% 0%);
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
}

@keyframes backdrop-fade-in {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(8px);
  }
}

@keyframes backdrop-fade-out {
  from {
    opacity: 1;
    backdrop-filter: blur(8px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.animate-fluid-open {
  animation: fluid-open 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.animate-fluid-close {
  animation: fluid-close 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.animate-backdrop-in {
  animation: backdrop-fade-in 0.4s ease-out forwards;
}

.animate-backdrop-out {
  animation: backdrop-fade-out 0.3s ease-in forwards;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

/* kiri */
.marquee-container::before {
  left: 0;
  background: linear-gradient(to right,
      white 0%,
      transparent 100%);
}

/* kanan */
.marquee-container::after {
  right: 0;
  background: linear-gradient(to left,
      white 0%,
      transparent 100%);
}